In [24]:
from sqlalchemy import create_engine
import pandas as pd
# created by Todd Martin 9/2024
# Define the connection string
connection_string = (
    'mssql+pyodbc://MARTIN/HomeStore?driver=ODBC+Driver+17+for+SQL+Server'
)

# Create the engine
engine = create_engine(connection_string)

# Define the SQL query
query = """
SELECT Order_Date, Sales_person, Sub_Category, Quantity, Round(Sales, 2) as 'Sales'
FROM dbo.Sales_orders
WHERE Order_Date BETWEEN '2024-05-01' AND '2024-05-02'
"""

# Execute the query and fetch the data into a DataFrame
df = pd.read_sql(query, engine)

# Display the DataFrame
print(df)

    Order_Date      Sales_person Sub_Category  Quantity    Sales
0   2024-05-01     Sophia Martin  Accessories         5    48.90
1   2024-05-01        John Smith     Supplies         2     3.33
2   2024-05-01     Robert Thomas       Tables         4   933.26
3   2024-05-01     Robert Thomas       Chairs         5  2803.92
4   2024-05-01     Michael Brown    Bookcases         3   314.35
5   2024-05-01     Michael Brown       Labels         2     4.61
6   2024-05-02  Matthew Thompson  Furnishings         3   129.93
7   2024-05-02     Robert Thomas  Accessories         4   159.56
8   2024-05-02       Chuck Magee        Paper         5    15.70
9   2024-05-02      Laura Taylor          Art         3    59.52
10  2024-05-02     Robert Thomas        Paper         5    34.40

In [26]:
from sqlalchemy import create_engine
import pandas as pd
# Created by Todd Martin 9/2024
# Define the connection string
connection_string = (
    'mssql+pyodbc://MARTIN/HomeStore?driver=ODBC+Driver+17+for+SQL+Server'
)

# Create the engine
engine = create_engine(connection_string)

# Get user input for the date range
start_date = input("Enter the start date (YYYY-MM-DD): ")
end_date = input("Enter the end date (YYYY-MM-DD): ")

# Define the SQL query with user input
query = f"""
SELECT Order_Date, Sales_person, Sub_Category, Quantity, ROUND(Sales, 2) as 'Sales'
FROM dbo.Sales_orders
WHERE Order_Date BETWEEN '{start_date}' AND '{end_date}'
"""

# Execute the query and fetch the data into a DataFrame
df = pd.read_sql(query, engine)

# Display the DataFrame
print(df)

Enter the start date (YYYY-MM-DD):  2024-04-04
Enter the end date (YYYY-MM-DD):  2024-04-05

   Order_Date      Sales_person Sub_Category  Quantity   Sales
0  2024-04-04     Anna Andreadi       Phones         4  383.84
1  2024-04-04    James Anderson       Phones         1   41.22
2  2024-04-04  Matthew Thompson     Supplies         1  240.37
3  2024-04-04        John Smith       Phones         2  119.02
4  2024-04-04  Matthew Thompson    Envelopes         1   16.98
5  2024-04-04        John Smith          Art         4    7.04

In [28]:
git init
git add .
git commit -m "Initial commit"
git remote add origin https://github.com/toddmaGH/Projects-and-codes.git
git push -u origin master

SyntaxError: invalid syntax (1164823345.py, line 1)